* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

:root {
  --initial-text-color: #ffffff;
  --after-subtext-color: #7b838b;
  --black-subtext-color: #000000;
  --hover-text-color: #e47711;
  --black-title-color: #3a4149;
  --info-icon-color: #4caca8;
  --blue-text-color: rgb(53, 104, 103);
  --gray-bg-color: rgb(247, 247, 247);
  --header-height: 6.5rem;
  --content-limit: 1300px;
  --view-margin: 4rem;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--header-height);
  width: 100%;
  background-color: #262626;
  padding: 0 3rem;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--content-limit);
}

header nav img[alt="Logo"] {
  width: 13rem;
  aspect-ratio: 3.5/1;
  padding: 0.6rem;
  border: 0.15rem solid #ffffff;
}

header nav ul {
  display: flex;

  & li {
    list-style: none;
  }
}

header nav ul li a {
  padding: 0.8rem 1.2rem;
  text-decoration: none;
  color: var(--initial-text-color);
  font-size: 1.5rem;
  transition: all 0.25s;

  &:hover {
    color: var(--hover-text-color);
  }
}

header nav ul li:last-child a {
  background-color: #ffffff;
  color: var(--black-subtext-color);
  border-radius: 1rem;
  margin-left: 1rem;

  &:hover {
    background-color: var(--hover-text-color);
    color: var(--initial-text-color);
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main #fixed {
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
  padding: 1.2rem 2.5rem;
  font-size: 1.7rem;
  color: var(--initial-text-color);
  background-color: #ec7f18;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  gap: 1rem;
  border-radius: 2.5rem;
  border: 0;
  box-shadow: 0.1rem 0.1rem 0.5rem #00000099;
  cursor: pointer;
  transition: all 0.25s;

  &:hover {
    background-color: var(--gray-bg-color);
    color: #262626;

    & img {
      transition: all 0.25s;
      filter: invert(0);
    }
  }
}

main #fixed img {
  width: 2.5rem;
  aspect-ratio: 1;
  filter: invert(1);
}

section {
  width: 100%;
}

#home {
  height: calc(100vh - var(--view-margin));
  background-image: url("./assets/img/home-backgroung.webp");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home h1 {
  font-size: 7rem;
  color: var(--initial-text-color);
}

#home h2 {
  font-size: 5rem;
  color: var(--initial-text-color);
}

#intro {
  position: relative;
  display: flex;
  align-items: start;
  height: max-content;
  justify-content: space-between;
  max-width: var(--content-limit);
  padding: 3rem 0;
}

#intro video {
  width: 60rem;
  flex: 1;
}

#intro div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex: 1;
}

#intro div img {
  width: 44rem;
  aspect-ratio: 4/1;
}

#intro div p {
  max-width: 45rem;
  text-align: center;
  font-size: 1.7rem;
  color: var(--after-subtext-color);
  letter-spacing: 0.05rem;
}

#intro div strong {
  font-size: 1.8rem;
  color: var(--after-subtext-color);
}

#images {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  gap: 0.7rem;
  padding: 0 0.7rem;

  & img {
    flex: 1;
    aspect-ratio: 1/2;
  }
}

#info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: max-content;
  padding: 3rem 0;
  background-color: var(--gray-bg-color);
  gap: 7rem;
  padding-bottom: 10rem;
}

#info .primary-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  width: 75rem;
}

#info .primary-content h2 {
  font-size: 6rem;
  color: var(--black-title-color);
  width: 100%;
}

#info .primary-content p {
  text-align: center;
  color: var(--after-subtext-color);
  font-size: 1.7rem;
  max-width: 100%;
}

#info .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 5rem;
  column-gap: 10rem;
}

#info .container div {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

#info .container div img {
  width: 7rem;
  aspect-ratio: 1;
  background-color: var(--info-icon-color);
  filter: invert(1);
  border-radius: 50%;
  padding: 2rem;
}

#info .container div p {
  max-width: 25rem;
  font-size: 1.7rem;
  color: var(--after-subtext-color);
  text-align: center;
}

#personal {
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 4rem;
  padding-bottom: 10rem;
}

#personal h2 {
  font-size: 6rem;
  color: var(--black-title-color);
  padding: 3rem 0;
}

#personal .display-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 4rem;
}

#personal .display-container .container {
  flex: 1;
  position: relative;
}

#personal .display-container .container img {
  width: 100%;
  aspect-ratio: 1/2;
}

#personal .display-container .container div {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: max-content;
}

#personal .display-container .container div h3 {
  font-size: 1.7rem;
  text-decoration: underline;
  color: #262626;
  text-align: center;
  width: 150%;
}

#personal .display-container .container div p {
  font-size: 1.6rem;
  color: var(--black-title-color);
}

#procedure {
  background-image: url("./assets/img/procedure-background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 10rem 10rem;
  gap: 5rem;
}

#procedure .content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

#procedure .content h3 {
  font-size: 3rem;
  color: var(--initial-text-color);
}

#procedure .content div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#procedure .content div p {
  font-size: 1.7rem;
  color: #ffffffdd;
  max-width: 40rem;
}

#procedure .content img {
  width: 10rem;
  aspect-ratio: 1;
  border-radius: 50%;
  filter: invert(1);
  padding: 3rem;
  background-color: #4caca8;
  rotate: 180deg;
}

#procedure .content:last-child img {
  rotate: 90deg;
}

#testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  max-width: var(--content-limit);
  gap: 5rem;
  column-gap: 10rem;
  padding: 10rem 0;
}

#testimonials div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 40rem;
  gap: 2rem;
}

#testimonials div h3 {
  font-size: 2.5rem;
  font-weight: 500;
  text-decoration: underline;
  color: var(--info-icon-color);
}

#testimonials div img {
  border-radius: 50%;
  width: 9rem;
  aspect-ratio: 1;
  filter: grayscale(1);
}

#testimonials div p {
  font-size: 1.7rem;
  color: var(--after-subtext-color);
  text-align: center;
}

#pricing {
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-color: var(--gray-bg-color);
  padding: 5rem 0;
}

#pricing .container {
  width: 30rem;
  padding-top: 2rem;
  border: 3px solid var(--blue-text-color);
  border-radius: 1rem;
  background-color: #ffffff;
  box-shadow: 1px 1px 5px #00000050;
}

#pricing .container div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

#pricing .container .text h3 {
  font-size: 3rem;
  color: var(--blue-text-color);
}

#pricing .container .text span {
  color: #e47711;
  font-size: 5rem;
  font-weight: 600;
}

#pricing .container .text p {
  color: var(--blue-text-color);
  font-weight: 600;
  font-size: 1.5rem;
}

#pricing .container a {
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

#pricing .container a button {
  margin-top: 7rem;
  padding: 1rem;
  width: 80%;
  border-radius: 2.5rem;
  background-color: var(--blue-text-color);
  color: #ffffff;
  font-size: 1.7rem;
  border: 0;
  cursor: pointer;

  &:hover {
    filter: brightness(1.25);
  }
}

#pricing .container .info {
  margin-top: 1rem;
  border-top: 3px solid var(--blue-text-color);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  background-color: #9ae9e5;
  border-radius: 0 0 1rem 1rem;
}

#why {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  padding-top: 7rem;
}

#why h2 {
  font-size: 6rem;
  color: var(--black-title-color);
}

#why .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  place-items: center;
  gap: 2.5rem;
  column-gap: 10rem;
}

#why .container div {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 20rem;
  gap: 2rem;
}

#why .container div img {
  width: 3rem;
  aspect-ratio: 1;
  filter: invert(0.2);
}

#why .container div p {
  font-size: 1.7rem;
  color: var(--after-subtext-color);
}

#contact {
  height: max-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("./assets/img/procedure-background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

#contact .triangle {
  width: 100%;
  border-left: 100rem solid transparent;
  border-right: 100rem solid transparent;
  border-top: 15rem solid #ffffff;
}

#contact .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20rem;
  padding: 5rem 0;
}

#contact .container h2 {
  font-size: 8rem;
  line-height: 10rem;
  color: #ffffff;
}

#contact .container h3 {
  font-size: 4rem;
  margin-top: 15rem;
  color: #ffffff;
}

#contact .container form {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 30rem;
  gap: 2.5rem;
  margin-top: 2rem;
}

#contact .container form input {
  width: 100%;
  border: 0;
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
}

#contact .container form textarea {
  width: 100%;
  height: 15rem;
  padding: 1rem 1rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  resize: none;
}

#contact .container form button {
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  background-color: #33a5a1;
  border: 0;
  border-radius: 0.5rem;
  color: #ffffff;
  cursor: pointer;

  &:hover {
    filter: brightness(0.8);
  }
}

footer {
  width: 100%;
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30rem;
  padding: 5rem 0;
}

footer .text-content h2 {
  font-size: 5rem;
  color: #ffffff;
}

footer .text-content p {
  font-size: 1.7rem;
  color: #ffffff;
  line-height: 3rem;
}

footer .icon-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

footer .icon-content a img {
  filter: invert(1);
  width: 6rem;
  aspect-ratio: 1;
  padding: 1rem;
}

footer .icon-content a img[alt="Contact icon"] {
  width: 8rem;
}

footer .icon-content a:hover {
  filter: brightness(0.5);
}
